<Sysmon schemaversion="4.90">
  <!-- Hashing algorithms that can be used are md5,sha1,sha256,imphash or * for all,
  more than once can be specified separated by using comas -->
  <HashAlgorithms>sha256;md5</HashAlgorithms>
  <!-- Checking for signature revocation for drivers. -->
  <CheckRevocation/>
  <EventFiltering>
    
  </EventFiltering>
</Sysmon>